
#contact_modal {
    display: none;
}

body{    
    font-family: "DM Sans", sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    
}
/*********************************************************************************************HEADER************************************************************/
header .logo {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;    
}
.photographer-header {
    background-color: #e4dede;
    border-radius: 5px;
    width: 100%;
    height: 313px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

main img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#pName{
    margin-left: 50px;
    margin-top: 71px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
}

#pLocation{
    margin-left: 50px;
    margin-top: 16px;
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}

#pTag{
    margin-left: 50px;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

#pImg{
    margin-right: 50px; 
}

.photographer_location{
    display: flex;
    flex-direction: row;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/*******************************************************************************/

/**************************************************************************************FORM****************************************************************************/
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

main h2 {
    font-size: 35px;
    color: #901C1C;    
}

main .filterSection {
   display: flex;
   gap: 50px;
}

main .filterSection .btnSection {
    max-width: 170px;
    max-height: 170px;
    border-radius: 5px;  
    color: #FFFFFF;
    background: #911C1C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    gap: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main .filterSection .filterBy{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

main .filterSection .btn{
    background: #911C1C;
    padding: 20px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
}

main .filterSection .btn img{
    width: 16px;
    height: 9.88px;
    transform: rotate(-180deg);
}

main .filterSection .menu-items{
    padding: 0 20px;
    
}

main .filterSection .menu-items .date-item{
    padding: 5px 0px;
    cursor: pointer;
}

main .filterSection .menu-items .date-item:hover{
    background-color: #FFFFFF;
    color: #911C1C;
} 

main .filterSection .menu-items .title-item{
    padding: 5px 0px 20px 0px;
    cursor: pointer;   
}

main .filterSection .menu-items .title-item:hover{
    background-color: #FFFFFF;
    color: #911C1C;
    padding: 0px;
} 

main #media-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: space-between;
    position: relative;
}

.mediaElements{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
}

.mediaElements .mediaContent {    
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.mediaElements .videoContent{
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.mediaDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mediaDetails .mediaTitle {
    height: 31px;
    width: 292;  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    cursor: pointer;
}

.mediaDetails .likeElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 5px; 
}

.mediaDetails .mediaLike {
    height: 31px;
    width: 292;  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #911C1C;   
}

.mediaDetails .likeLogo {
    height: 18.35px;
    width: 17.5px; 
}

body #smallBoxContent{ 
    position: fixed;
    width: 100%;
    height: 60px;
    width: 376px;
    background: #DB8876;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: -40px;
    right: 15px;
    padding: 5px 25px 40px 25px;      
}

body #smallBoxContent .likesElements{ 
     display: flex;
     align-items: center;
     gap: 10px;
}

body #smallBoxContent .boxPrice{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;   
}

body #smallBoxContent .smallLogo{
    width: 17.5px;
    height: 18.35px;
    color:#000000 ;
}

body #smallBoxContent .likeAdd{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;    
}

/***********************************************************************LIGHT-BOX**********************************************************************************/

#lightBox{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fffefe;
    z-index: 99;
}

.hidden{
    display: none;
    
}

#lightBox .lightBoxContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#modalImg{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    object-fit:contain;
    object-position: 50% 50%;
    padding: 0px;
    margin: 0px;
}

#modalVideo{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    object-fit:cover;
    padding: 0px;
    margin: 0px;
}

#lightBox .lightBoxImgTitle{
    font-weight: 400;
    font-size: 24px; 
    color: #911C1C;
}

#lightBox .lightBoxContent .imgTitle{    
  margin: 0px;
  padding: 0px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;  
}

#lightBox .leftButon{
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    opacity: 0.5;
    height: 29.64px;
    width: 48px;
    cursor: pointer;
    transition: .3s; 
}

#lightBox .leftClose{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;
    padding-top: 65px;
    gap: 320px;
}

#lightBox .leftClose .closeButon{
    margin-left: 10px;   
}

#lightBox .rightButon{
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    opacity: 0.5;
    height: 29.64px;
    width: 48px;
    cursor: pointer;
    transition: .3s; 
}

#lightBox .lightBoxContent .closeButon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    height: 32px;
    width: 32px;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;   
}

#lightBox .leftButon:hover,
#lightBox .rightButon:hover,
#lightBox .lightBoxContent .closeButon:hover {
    opacity: 1;
}


/******************************************************************************/





